 /* mail list */

 .mail-list {
    padding: 0;
    margin: 0;
 }

 .mail-list li {
    list-style-type: none;
 }

 .mail-preview {
    display: grid;
    grid-template-columns: 2em 10em 1fr 6em;
    max-height: max-content;
    min-height: 25px;
    max-width: 100vw;
    padding-block: 10px;
    margin: 0;
    border-bottom: 1px solid lightgray;

    color: #202124;
    font-family: 'roboto-bold';
 }

 .read {
   background-color: var(--compose-head-bg);
   font-family: 'roboto-regular';
}

 .mail-preview:hover {
    box-shadow: rgba(100, 121, 143, 0.51) 0px -1px 0px 0px inset
 }

 .mail-preview:hover .opt-btns {
    display: flex;
 }

 .mail-preview:hover .mail-date {
    display: none;
 }

 .mail-preview>* {
    align-content: center;
    padding-left: 0.75em;

    font-size: 14px;
 }

 .main-mail-data {
    display: flex;
    gap: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 .main-mail-data>* {
    align-content: center;
    font-size: 14px;
 }

 .mail-body{
   font-family: 'roboto-regular';
 }

 .opt-btns,
 .mail-date {
    justify-self: end;
    padding-inline: 0.5em;
 }

 .hidden {
    display: none;
 }

 .fa-regular.fa-star {
    color: lightgray;
    background-color: transparent;
 }

 .fa-solid.fa-star {
    color: gold;
 }

 .opt-btns {
    margin-inline: 10px;
 }

 .opt-btns button {
    border: none;
    min-width: 20px;
    min-height: 20px;
    background-color: transparent;
 }

 .opt-btns button:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.313);
 }