.mail-details .mail-btns {
    margin-block: 14px;
    margin-inline-start: 16px;
}

.mail-btns>* {
    border: none;
    min-height: 2.5em;
    min-width: 2.5em;
    background-color: transparent;
    font-size: 1em;
}

.mail-btns>*:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.313);
}

.mail-details .mail-subject {
    margin-inline-start: 72px;
    margin-block: 20px;
}

.mail-details .sender-section {
    display: flex;
    align-items: center;

    font-size: 14px;
}

.sender-section p {
    margin-inline-start: 0.5em;
    color: lightgray;
}

.mail-details .mail-body {
    margin-inline-start: 72px;
    margin-block-start: 1em;
}


.sender-circle {
    border-radius: 50%;
    min-height: 40px;
    min-width: 40px;

    margin-inline: 16px;

    line-height: 40px;
    text-align: center;

    font-weight: bold;
    font-size: 1em;
    background-color: purple;
    color: white;

}