@media (max-width: 880px) {
    .mail-index {
        flex-direction: column
    }

    .side-bar {
        width: 100%;
        position: relative;
    }

    .compose-btn{
        display: block;
    }

    .compose-form{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        
    }
}