 /* note compose */
 
.note-compose{
    background-color: transparent;
    text-align: center;
    padding: 10px;
}

.note-compose input{
    background-color: transparent;
    border: none;
    color: black;
}

.note-compose input::placeholder{
    color: gray;
}

.tool-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}