.mail-index {
    /* background-color: white; */
    /* background-color: #f5f5f5; */
    display: grid;
    grid-template-columns: 14vw 6fr 3vw;
    background-color: var(--main-bg-color);
}

.mail-list {
    grid-column: 2/3;
    background-color: white;
}

.mail-filter {
    /* background-color: chocolate; */
}

.mail-folder-list {
    grid-column: 1/2;
}

.mail-compose {
    /* background-color: palevioletred; */
}

.compose-btn {
    max-width: 118px;
    min-height: 56px;

    margin-block: 25px;
    margin-inline-start: 8px;


    border-radius: 16px;
    border: none;

    background-color: #c2e7ff;
    color: #001d35;

    transition: box-shadow 0.2s;
}

.compose-btn:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px,
                rgba(0, 0, 0, 0.14) 0px 1px 3px 1px;
}